* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background: hsl(210, 100%, 98%);
    /* background: url(images/bg-hero-desktop.svg); */
    /* width: 90%;
    margin: 0 auto; */
}

.header-btn {
    padding: 8px 38px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    box-shadow: 2px 1px 5px hsl(208, 11%, 55%);
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s, 
                box-shadow 0.5s;
}

.header-btn:hover {
    color: rgb(145, 141, 141);
    box-shadow: 2px 1px 5px hsl(212, 14%, 79%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 68px;
    margin: 0 30px;
}

/* font-family: 'Poppins', sans-serif; */

.background {
    background: url(images/bg-hero-desktop.svg);
    background-size: contain;   
}

.get-started {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    padding: 14px 38px;
    border: none;
    border-radius: 25px;    
    font-weight: bold; 
    box-shadow: 2px 1px 5px hsl(322, 93%, 73%);
    transition: background-color 0.2s,
                box-shadow 0.2s; 
}

.get-started:hover {
    background-color: hsl(322, 97%, 77%);
    box-shadow: hsl(322, 84%, 81%);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin: 0 auto;    
}

section div {
    width: 50%;
    margin: 30px 0 10px 70px;    
    padding-bottom: 30px;
}

section div img {
    max-width: 100%;
    height: auto;
}

section div:nth-child(1) {
    padding-left: 30px;
}

section div:nth-child(2) {
    margin-right: 30px;
    padding-right: 50px;
}

section h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 2em;
}

section p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: gray;
}

main {
    background: #fff;
    padding-top: 125px;
    padding-bottom: 250px;   
}

main section {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: -0.5px -0.5px 10px rgba(192, 190, 190, 0.5); 
    padding-bottom: 15px;
    margin-bottom: 38px;   
    transition: transform 0.2s;
}

main section:hover, main section:focus {
    /* transform: translate(-20px, -15px); */
    transform: scale(1.1);
}

main section div {
    width: 30%; 
}

main section .info {
    padding: 20px 10px 10px;   
    margin-left: 90px;
    width: 40%;
} 


h2 {
    font-family: 'Poppins', sans-serif;
}

.ready {
    border: 1px solid black;
    width: 600px;
    text-align: center;    
    background: #fff; 
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: -0.5px -0.5px 10px rgba(192, 190, 190, 0.5); 
    position: absolute;
    top: -130px;  
    left: 50%;
    transform: translateX(-50%)
}

.ready h2 {
    margin-top: 60px;
}
    

.ready button {
    margin: 30px 0px 40px;
    padding: 18px 70px;
    box-shadow: 2px 2px 10px rgba(192, 190, 190, 0.7);     
}

footer {
    background: hsl(192, 100%, 9%);
    position: relative;
    padding-top: 160px; 
    padding-bottom: 50px; 
    width: 100%;   
}

.footer-flex {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;    
    margin: 0 auto; 
    font-size: 14px;  
    font-family: 'Open Sans', sans-serif;   
}

.footer-logo {
    filter: brightness(0) invert(1);
    margin-bottom: 15px;
}

footer div p, h3 {
    color: #fff;
}

footer .footer-content {
    width: 25%;   
    margin: 15px 5px;    
}

footer .footer-content.links{
    width: 15%;
    display: grid;
    place-items: center;   
    padding-top: 30px;
}

footer .footer-content.links a {
    color: #fff;
    text-decoration: none;
}

footer .footer-content.links a:hover{
    text-decoration: underline;
}

.location, .phone, .email {
    display: flex;   
    align-items: flex-start;
    font-size: 14px;
    margin-top: 15px;
} 

.location img, .phone img, .email img {
    width: 20px;    
    margin-right: 18px;
}

.footer-content ul {
    list-style: none;
    color: #fff;
    padding-left: 50px;         
}
.footer-content.links li {
    margin-bottom: 18px;
} 

.footer-content.footer-socials {
    color: #fff;
    text-align: center;  
    padding-bottom: 60px;
    padding-right: 25px;
}


.footer-content.footer-socials i {
    border: 1px solid #fff;
    padding: 8px 10px;
    border-radius: 50%;
    margin-left: 10px;    
}

.footer-content.footer-socials i:hover {
    color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

footer .copyright {    
    width: 100%;   
    text-align: right;
}

footer .copyright small {
    color: #fff;
    padding-right: 30px;
}

/* Media Queries */

@media screen and (max-width: 720px){
    html, body{
        overflow-x: hidden;         
    }

    section {
        display: block;
    }
    section div{
        display: block;
    }
    section div {
        width: 100%;
        margin: 0px;   
        padding-bottom: 0px;
    }

    .background {
        background: url(images/bg-hero-mobile.svg);
        /* background-size: cover;    */
    }
    

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0;       
        width: 90%;
    }    

    .heading div h1 {
        font-size: 28px;
    }

    .heading {
        text-align: center;
        margin-top: 50px;
        padding: 5px;
        width: 90%;
    }

    .heading div img {
        width: 90%;
    }      

    section div:nth-child(1) {
        padding: 0px;
    }
    
    section div:nth-child(2) {
        margin: 60px 0 40px;
        padding: 0px;             
    }
      
    main {
        padding-top: 70px;
        padding-bottom: 215px;
    } 

    main section{
        display: block;
        width: 80%;
        padding: 20px;
    }

    main section div {
        width: 100%;
    } 

    main section .info {
        width: 100%;  
        padding: 0px;   
        margin-left: 0px;    
        text-align: center;   
    } 

    main section .image {
        width: 100%;
        padding: 0;   
        margin-left: 0;
    }
    main section .image {
        padding: 0px;         
    }

    .footer-flex {
        display: block;
    }

    .ready {
        width: 90%;
    }

    .ready button {        
        padding: 15px 48px;
    }

    .ready h2 {
        font-size: 18px;
        width: 100%;
        margin-top: 40px;        
    }

    main section .info {        
        width: 100%;        
    } 

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px;
        margin: 0;
    }

    .header-btn {
        padding: 6px 38px; 
    }
    

    footer .footer-content {
        width: 100%;   
        margin: 15px 5px;          
    }

    footer .footer-content.links{
        width: 100%;
        display: block;       
        padding-top: 0px;
    }
    
    .footer-content ul {        
        padding-left: 0px;         
    }

    .footer-content.footer-socials {                  
        padding-right: 0px;
        padding-bottom: 30px;
        margin: 0px;
        width: 100%;
    }

    footer .copyright {            
        text-align: center;        
    }

    footer .copyright small {       
        padding-right: 0px;
    }

}