* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background: hsl(210, 100%, 98%);
    /* background: url(images/bg-hero-desktop.svg); */
    /* width: 90%;
    margin: 0 auto; */
}

.header-btn {
    padding: 8px 38px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    box-shadow: 2px 1px 5px hsl(208, 11%, 55%);
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 68px;
    margin: 0 30px;
}

/* font-family: 'Poppins', sans-serif; */

.background {
    background: url(images/bg-hero-desktop.svg);
    background-size: contain;   
}

.get-started {
    background: hsl(322, 100%, 66%);
    color: #fff;
    padding: 14px 38px;
    border: none;
    border-radius: 25px;    
    font-weight: bold; 
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin: 0 auto;    
}

section div {
    width: 50%;
    margin: 30px 0 10px 70px;    
    padding-bottom: 30px;
}

section div:nth-child(1) {
    padding-left: 30px;
}

section div:nth-child(2) {
    margin-right: 30px;
    padding-right: 50px;
}

section h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 2em;
}

section p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: gray;
}

main {
    background: #fff;
    padding-top: 125px;
    padding-bottom: 250px;
}

main section {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: -0.5px -0.5px 10px rgba(192, 190, 190, 0.5); 
    padding-bottom: 15px;
    margin-bottom: 38px;   
}

main section div {
    width: 50%; 
}

main section .info {
    padding: 20px 10px 10px;   
    margin-left: 90px;
} 

main section .image {
    padding: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.ready {
    border: 1px solid black;
    width: 600px;
    text-align: center;    
    background: #fff; 
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: -0.5px -0.5px 10px rgba(192, 190, 190, 0.5); 
    position: absolute;
    top: -130px;  
    left: 24%;
}

.ready h2 {
    margin-top: 60px;
}
    

.ready button {
    margin: 30px 0px 40px;
    padding: 18px 70px;
    box-shadow: 2px 2px 10px rgba(192, 190, 190, 0.3);     
}

footer {
    background: hsl(192, 100%, 9%);
    position: relative;
    padding-top: 160px;   
    
}

.footer-flex {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
    /* background-color: blue; */
}

.footer-logo {
    filter: brightness(0) invert(1);
}

footer div p, h3 {
    color: #fff;
}

footer .footer-content {
    width: 25%;   
    margin: 15px 5px;
}

footer .footer-content.links{
    width: 15%;
    display: grid;
    place-items: center;   
}

.location, .phone, .email {
    display: flex;   
    align-items: flex-start;
    font-size: 14px;
    margin-top: 15px;
} 

.location img, .phone img, .email img {
    width: 20px;    
    margin-right: 15px;
}

.footer-content ul {
    list-style: none;
    color: #fff;
    padding-left: 50px;         
}
